---
import {twMerge} from "tailwind-merge";

type Props = {
	className?: string;
};
const {className} = Astro.props;
---

<p class={twMerge("sm:font-medium text-[1.2rem] sm:text-2xl lg:text-3xl font-semibold", className)}>
	<slot />
</p>
