---
import {twMerge} from "tailwind-merge";

type Props = {
	title: string;
	href: string;
	description: string;
	listStyle?: string;
	titleStyle?: string;
	descriptionStyle?: string;
	listWrapStyle?: string;
};

const {description, href, title, descriptionStyle, listStyle, listWrapStyle, titleStyle} = Astro.props;
---

<a href={href} class={twMerge("px-3 py-4 inline-block hover:bg-slate-100/70 rounded-lg w-full", listStyle)}>
	<div class={twMerge("space-y-1", listWrapStyle)}>
		<p class={twMerge("font-bold", titleStyle)}>{title}</p>

		<p class={twMerge("text-black/70", descriptionStyle)}>{description}</p>
	</div>
</a>
